{% extends 'base.html' %}


{% block container %}

  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ profile_data.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ profile_data.name }}</h1>
              <p>
                {% for goal in  profile_data.goals %}
                  <span class="badge badge-secondary mr-2"> {{ goals[goal] }}</span>
                {% endfor %}

                Рейтинг: {{ profile_data.rating }} Ставка: {{ profile_data.price }} / час</p>
              <p> {{ profile_data.about }} </p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

              {% for e in time_slots %}
                  
              
              {% for day, times in e %}
                <h6 class="mt-4">{{ days[day] }}</h6>
                {% for time in times %}

                        <a href="/booking/{{ profile_data.id }}/{{ day_name }}/{{time.split(':')[0]}}" class="btn btn-outline-success mr-2"> {{ time }} свободно</a> 
                  

                  {% endfor %}
              {% endfor %}
              {% endfor %}

            </section>

          </div>
        </article>
      </div>

    </div>
  </main>



{% endblock  %}